<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <div class="row">
      
      <div>
        <div class="jumbotron">
          <h3> Cloud Lanjut</h3>
          <p> Cloud computing and technology – popularly referred to as the cloud – has redefined the way we store and share our information. </p>
        </div>
      </div>
      
    
    </div>
  </main>

</body>
</html>

