<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <div class="jumbotron">
      <h1>CLoud Lanjut</h1>
      <p>Hello Dunia, Selamat Pagi!</p>
    </div>
  </main>


</body>
</html>
