<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <div class="row">
      <div class="col-sm-4">
        <div class="jumbotron">
          <h1>Number One</h1>
          <p>We are living in the age of knowledge-driven economics. Information is an asset, and how we share it defines the extent of our success. </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="jumbotron">
          <h1>Number Two</h1>
          <p>Cloud computing and technology – popularly referred to as the cloud – has redefined the way we store and share our information. </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="jumbotron">
          <h1>Cloud Lanjut</h1>
          <p>Hello Dunia, Selamat Pagi!</p>
        </div>
      </div>
    
    </div>
    </main>

</body>
</html>

