<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <div class="row">
      
      <div>
        <div class="jumbotron">
          <h3>&nbsp;&nbsp;&nbsp;Cloud Lanjut, Kuliah Ke-7</h3>
          <p> Cloud computing and technology – popularly referred to as the cloud – has redefined the way we store and share our information. Cloud computing technology allows people to use digital resources stored in the virtual space by way of networks – often satellite networks. It allows people to share information and applications without being restricted by their physical location. </p>
        </div>
      </div>
      
    
    </div>
  </main>

</body>
</html>

