<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>Cloud Lanjut</h1>
          <p>Hello Dunia, Selamat Pagi!</p>
        </div>
      </div>
    
      <div class="col-sm-4">
        <div class="well">
          <!-- <h3>Look I'm A Sidebar!</h3> -->
          <img src="https://i.pinimg.com/564x/f5/dc/6d/f5dc6d2a66fee3de3432aa2f01c7e787.jpg" width="200px" height="400px">
        </div>
      </div>
    </div>
    </main>

</body>
</html>

