<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>This is our Jenkins CI/CD Project, Landing Page</p>
    </div>
  </main>


</body>
</html>
